@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.header__logo {
  font-family: "Tilt Warp", cursive;
  font-size: 1.7em;
  font-weight: 500;
}

.header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.header__navs--profile {
  cursor: pointer;
}

.header__navs--orders {
  cursor: pointer;
}

.header__navs--signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.signIn__link {
  font-weight: bolder;
  font-size: 1.5em;
}

.header__navs--basketLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
