* {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(237, 237, 237, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
